header #main-nav {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #ddd9d9;
}

header .main-nav-link {
    display: inline-block;
    padding: 15px 5px;
}

header .main-nav-link a {
    font-size: 1em;
    text-decoration: none;
    color: #ffffff;
}

header .action-link {
    float: right;
}

header .vibrant-link a {
    background-color: #a75cec;
    padding: 10px 20px;
    border-radius: 10px;
}

header .vibrant-link a:hover {
    background-color: #9551d4;
}

header .vibrant-link a:active {
    background-color: #6a3799;
}

header .standard-link a {
    background-color: #7640a8;
    padding: 10px 20px;
    border-radius: 10px;
}

header .standard-link a:hover {
    background-color: #5c3185;
}

header .standard-link a:active {
    background-color: #482569;
}

header .home-link {
    float: left;
}

header .home-link .icon {
    float: left;
    padding: 2px 0px 0px 2px;
}

header .home-link h1 {
    padding: 14px 0px;
    height: 50px;
    width: 210px;
    color: #7640a8;
}

header .home-link a {
    text-decoration: none;
}
